<div class="da-footer">
    <div class="container-fluid">
        <div class="col-md-3 col-xs-12 col-md-push-9 social-panel">
        </div>

        <div class="col-md-6 col-xs-12 col-md-pull-3 links-panel">
        </div>
    </div>
</div>