<?php 
$accountType = $form->get('accountType')->getValue();
?>
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Information</h5>
                    <div class="ibox-tools"></div>
                </div>
                <div class="ibox-content">
                    <?php echo $this->partial('partial/flash_messages.phtml');?>
                    <h2 class="m-b">Account Information</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Username/Email address <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('username');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Security Group <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('accountType');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="dsr_specific_fields"style="display:<?php echo ($accountType == 3) ? 'block' : 'none';?>">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>DSR Type <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('dsrType');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label>Diversey ID <span class="text-danger">*</span></label>
                              <div class="input-group">
                                  <?php
                                  $element = $form->get('diverseyId');
                                  echo $this->formElement($element);
                                  echo $this->formElementErrors($element);
                                  ?>
                                  <span class="input-group-btn">
                                      <button type="button" class="btn btn-primary" data-action="find_diverseyid">Find ID</button>
                                  </span>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('password');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Confirm Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" name="confirmPassword" placeholder="Enter password again" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Login Status</label>
                                <?php
                                $element = $form->get('status');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed m-t-sm"></div>
                    <h2 class="m-b">Contact Information</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>First Name <span class="text-danger">*</span></label>
                                 <?php
                                $element = $form->get('firstName');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Last Name <span class="text-danger">*</span></label>
                                 <?php
                                $element = $form->get('lastName');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('phoneNumber');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Preferred Contact Type<span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('contactType');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 1 <span class="text-danger">*</span></label>
                                    <?php
                                    $element = $form->get('addressLine1');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                    ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <?php
                                $element = $form->get('addressLine2');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Country <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('country');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label id="label_state"><span>State</span> <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('state');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('city');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Postal Code <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('zipCode');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Manager<span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('salesExecutive');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed m-t-sm"></div>
                    <h2 class="m-b">Business Information</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Distributor Name <span class="text-danger">*</span></label>
                                    <?php
                                    $element = $form->get('companyName');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                    ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('distPhoneNumber');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 1 <span class="text-danger">*</span></label>
                                    <?php
                                    $element = $form->get('distAddressLine1');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                    ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <?php
                                $element = $form->get('distAddressLine2');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Country <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('distCountry');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label id="label_dist_state"><span>State</span> <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('distState');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('distCity');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Postal Code <span class="text-danger">*</span></label>
                                <?php
                                $element = $form->get('distZipCode');
                                echo $this->formElement($element);
                                echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>