<?php
/**
 * @var $this Zend\View\Renderer\PhpRenderer
*/
$this->layout()->setTemplate('layout/left-sidebar-layout.phtml');
$this->headTitle('Users');
$authUser = $this->layout()->authUser;

$this->headLink()->appendStylesheet('/css/plugins/datatables.min.css');
?>
<input type="hidden" name="user" data-role="<?php echo $authUser['role'];?>">
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-xs-8 col-sm-9">
		<h2>User Management</h2>
		<ol class="breadcrumb">
			<li>
				<a href="<?php echo $this->url('dashboard');?>">Home</a>
			</li>
			<li class="active">
				<strong>Users</strong>
			</li>
		</ol>
	</div>
	<div class="col-xs-4 col-sm-3">
		<div class="row">
			<div class="text-right col-xs-12">
                <?php if($authUser['role'] == 'SYSTEM_ADMIN'):?>
				<div class="btn-group m-t-md" data-toggle="tooltip" data-placement="left" title="More actions">
					<button data-toggle="dropdown" class="btn btn-primary btn-lg dropdown-toggle" aria-expanded="false">
						<i class="fa fa-navicon"></i>&nbsp;&nbsp;<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="<?php echo $this->url('users/create');?>">Create New User </a>
						</li>
						
						
					</ul>
				</div>
                <?php endif;?>
			</div>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content animated">
    <?php echo $this->partial('partial/flash_messages.phtml');?>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Demo Users</h5>
					<div class="ibox-tools"></div>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
                        <table id="table_user_list" class="table table-striped table-bordered table-hover" width="100%"></table>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
require(['domReady!'], function(){
    require(['app/user/user-list','app/admin/diversey-master'], function(userList, diverseyMaster){
      userList.setUserRole('<?php echo $authUser['role'];?>');
      userList.initUserList({
        tableId: 'table_user_list'
      });

      diverseyMaster.init({
        formId: 'user_form'
      });
    });
});
</script>
