<?php
/**
 * @var $this Zend\View\Renderer\PhpRenderer
*/
$this->layout()->setTemplate('layout/left-sidebar-layout.phtml');
$this->headTitle('User details');
$authUser = $this->layout()->authUser;

$this->headLink()->appendStylesheet('/css/plugins/datatables.min.css');
?>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-xs-8 col-sm-9">
		<h2><?php echo $user['firstName'] . ' ' . $user['lastName'];?></h2>
		<ol class="breadcrumb">
			<li>
				<a href="<?php echo $this->url('dashboard');?>">Home</a>
			</li>
			<li>
				<a href="<?php echo $this->url('users');?>">Users</a>
			</li>
			<li class="active">
				<strong>User Details</strong>
			</li>
		</ol>
	</div>
	<div class="col-xs-4 col-sm-3">
		<div class="row">
			<div class="text-right col-xs-12">
                <?php if($authUser['role'] == 'SYSTEM_ADMIN'):?>
				<div class="btn-group m-t-md" data-toggle="tooltip" data-placement="left" title="More actions">
					<button data-toggle="dropdown" class="btn btn-primary btn-lg dropdown-toggle" aria-expanded="false">
						<i class="fa fa-navicon"></i>&nbsp;&nbsp;<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="<?php echo $this->url('users/edit', array('id' => $this->hashid($user['id'])));?>">Edit User</a>
						</li>
					</ul>
				</div>
                <?php endif;?>
			</div>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content animated">
	<form method="get" class="form">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>User Information</h5>
						<div class="ibox-tools"></div>
					</div>
					<div class="ibox-content">
						<h2 class="m-b">Account Information</h2>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Email Address</label>
									<p class="form-control-static"><?php echo $user['username'];?></p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Diversey ID</label>
									<p class="form-control-static"><?php echo $user['diverseyId'];?></p>
								</div>
							</div>
                        </div>
                        <div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Security Group</label>
									<p class="form-control-static"><?php echo $roleDisplayNames[$user['roleId']];?></p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Login Status</label>
									<p class="form-control-static"><?php echo ($user['status']) ? 'Activated' : 'Deactivated';?></p>
								</div>
							</div>
						</div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>DSR Type</label>
                                    <p class="form-control-static"><?php echo !empty($user['dsrType']) ? $dsrTypes[$user['dsrType']] : '';?></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Sealed Air Market Manager</label>
                                    <p class="form-control-static"><?php echo $user['salesExecutive'];?></p>
                                </div>
                            </div>
                        </div>
                        
						<div class="hr-line-dashed m-t-sm"></div>
                        
						<h2 class="m-b">Contact Information</h2>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>First Name</label>
									<p class="form-control-static"><?php echo $user['firstName'];?></p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Last Name</label>
									<p class="form-control-static"><?php echo $user['lastName'];?></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Phone Number</label>
									<p class="form-control-static"><?php echo $user['phoneNumber'];?></p>
								</div>
							</div>
							<?php 
							$contactTypes = array(
							    1 => 'Email',
							    2 => 'Phone'
							);
							?>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Preferred Contact Type</label>
									<p class="form-control-static"><?php echo $contactTypes[$user['contactType']];?></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Address Line 1</label>
									<p class="form-control-static"><?php echo $user['addressLine1'];?></p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Address Line 2</label>
									<p class="form-control-static"><?php echo $user['addressLine2'];?></p>
								</div>
							</div>
                        </div>
                        <div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>City</label>
									<p class="form-control-static"><?php echo $user['city'];?></p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>State</label>
									<p class="form-control-static"><?php echo $user['state'];?></p>
								</div>
							</div>
                        </div>
                        <div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Country</label>
									<p class="form-control-static"><?php echo $user['country'];?></p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Zip Code</label>
									<p class="form-control-static"><?php echo $user['zipCode'];?></p>
								</div>
							</div>
						</div>
                        
                        <div class="hr-line-dashed m-t-sm"></div>
                        
                        <h2 class="m-b">Business Address</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <p class="form-control-static"><?php echo $user['companyName'];?></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Address Line 1</label>
                                    <p class="form-control-static"><?php echo $user['distAddressLine1'];?></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Address Line 2</label>
                                    <p class="form-control-static"><?php echo $user['distAddressLine2'];?></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <p class="form-control-static"><?php echo $user['distCity'];?></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <p class="form-control-static"><?php echo $user['distState'];?></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <p class="form-control-static"><?php echo $user['distCountry'];?></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Zip Code</label>
                                    <p class="form-control-static"><?php echo $user['distZipCode'];?></p>
                                </div>
                            </div>
                        </div>                        
					</div>
				</div>
			</div>
		</div>
	</form>
</div>