<?php 
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */
?>
<?php $this->headTitle()->append('Forgot Password');?>
<div class="loginColumns animated fadeInDown">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-6">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 text-center">
  						<?php 
			if($this->flashMessenger()->hasErrorMessages()):
			$messages = $this->flashMessenger()->getErrorMessages();
			?>
			<div class="alert alert-danger"><?php echo $messages[0];?></div>
			<?php endif;
			if($this->flashMessenger()->hasSuccessMessages()):
			$messages = $this->flashMessenger()->getSuccessMessages();
			?>
			<div class="alert alert-success"><?php echo $messages[0];?></div>
			<?php endif;?>
						<h3>Forgot Password</h3>
						<p>Enter your  email address and we will send you a link to reset your password.</p>
						
					</div>
				</div>
				<form class="" role="form" action="" method="post" id="forgot-password-form">
					<div class="hr-line-dashed m-t-sm"></div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label>Email Address <span class="text-danger">*</span></label>
								<input type="email" class="form-control" placeholder="Enter Email address" required="required" name="username">
							</div>
							
						</div>
						<div class="col-lg-12 text-center">
							<button type="submit" class="btn btn-primary block full-width">Send New Password</button>
						</div>
					</div>
				</form>
				<div class="hr-line-dashed m-t-sm"></div>
					<div class="row">
						<div class="col-lg-12 text-center">
							<a href="<?php echo $this->url('login');?>" class="btn btn-default block full-width">Back to Login</a>
							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
require(['domReady!'], function(){
    require(['app/account/forgot-password-form'], function($form){
      $form.validate('#forgot-password-form');
    });
});
</script>