<?php 
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */
$this->headTitle()->append('Login');?>
<div class="loginColumns animated fadeInDown max-w100p" >
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-7 col-lg-6 col-lg-offset-1">
			<h3 class="da-login-page-title">Demo Application</h3>
			<!-- <hr class="da-login-page-line"> -->
			<!-- <p class="da-login-page-content">Money Saving Offers on the Brands You Know and Trust </p> -->
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 text-center">
						<?php if(isset($error)):?>
						<div class="alert alert-danger">
                            <?php echo $error;?>
                        </div>
                        <?php endif;?>
					</div>
				</div>
				<form id="login" class="" role="form" method="post">
					<?php
                        $element = $form->get('csrf');
                        echo $this->formElement($element);
                    ?>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label>Email Address <span class="text-danger">*</span></label>
								<?php
                                    $element = $form->get('username');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
							<div class="form-group">
								<label>Password <span class="text-danger">*</span></label>
								<?php
                                    $element = $form->get('password');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
						<div class="col-lg-12 text-center">
							<button type="submit" class="btn btn-primary block full-width m-b-sm">Login</button>
							<a href="#">
								<small>Forgot password?</small>
							</a>
		
						
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
require(['domReady!'], function(){
    require(['app/account/login-form'], function($loginForm){
         $loginForm.validate('#login');
    });
});
</script>
