<?php 
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 * @var $form Zend\Form\Form
 * 
 */
?>
<div class="loginColumns animated fadeInDown">
	<div class="row">
		<div class="col-sm-10 col-md-offset-3 col-sm-offset-1">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h3>Create Account</h3>
					</div>
				</div>
				<?php 
                $this->form->setAttributes(['novalidate' => 'novalidate']);
				echo $this->form()->openTag($this->form);
				?>
					<?php
                    $element = $form->get('csrf');
                    echo $this->formElement($element);
                    ?>
					<div class="hr-line-dashed m-t-sm"></div>
                    <?php echo $this->partial('partial/flash_messages.phtml');?>
					<h2 class="m-b">Account Information</h2>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Username/Email address <span class="text-danger">*</span></label>
								<?php
                                    $element = $form->get('username');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Password <span class="text-danger">*</span></label>
								<?php
                                    $element = $form->get('password');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Confirm Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" name="confirmPassword" placeholder="Enter password again" required="required"/>
							</div>
						</div>
					</div>
					<div class="hr-line-dashed m-t-sm"></div>
					<h2 class="m-b">Contact Information</h2>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>First Name <span class="text-danger">*</span></label>
								 <?php
                                    $element = $form->get('firstName');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Last Name <span class="text-danger">*</span></label>
								 <?php
                                    $element = $form->get('lastName');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
                    </div>
                    <div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Phone Number <span class="text-danger">*</span></label>
								<?php
                                    $element = $form->get('phoneNumber');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Preferred Contact Type<span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('contactType');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
					</div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 1 <span class="text-danger">*</span></label>
                                    <?php
                                    $element = $form->get('addressLine1');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <?php
                                    $element = $form->get('addressLine2');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Country <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('country');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label id="label_state"><span>State</span> <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('state');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('city');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Postal Code <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('zipCode');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Sealed Air Market Manager<span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('salesExecutive');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
					<div class="hr-line-dashed m-t-sm"></div>
					<h2 class="m-b">Business Information</h2>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Distributor Name <span class="text-danger">*</span></label>
									<?php
                                    $element = $form->get('companyName');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('distPhoneNumber');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Address Line 1 <span class="text-danger">*</span></label>
									<?php
                                    $element = $form->get('distAddressLine1');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Address Line 2</label>
								<?php
                                    $element = $form->get('distAddressLine2');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Country <span class="text-danger">*</span></label>
								<?php
                                    $element = $form->get('distCountry');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label id="label_dist_state"><span>State</span> <span class="text-danger">*</span></label>
								<?php
                                    $element = $form->get('distState');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>City <span class="text-danger">*</span></label>
								<?php
                                    $element = $form->get('distCity');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="form-group">
								<label>Postal Code <span class="text-danger">*</span></label>
							    <?php
                                    $element = $form->get('distZipCode');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-7 col-sm-offset-3">
                            <div class="form-group hidden">
                                <div class="checkbox i-checks">
                                    <label>
                                    <?php
                                        $element = $form->get('mailingList');
                                        echo $this->formElement($element);
                                    ?>Sign up for Diversey Care product information. <?php echo $this->formElementErrors($element);?> 
                                    </label>
                                </div>
                            </div>
                         </div>
                    </div>
                       
                 	<div class="hr-line-dashed m-t-sm"></div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 text-center">
						<?php echo $recaptcha->getElement();?>
						</div>
					</div>
					<div class="hr-line-dashed m-t-sm"></div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 text-center">
							<button type="button" data-action="submit" class="btn btn-primary block full-width m-b-sm">Register</button>
							<p class="text-muted">Already have an account?</p>
							<a class="btn btn-sm btn-white btn-block m-t-sm" href="<?php echo $this->url('login');?>">Login</a>
						</div>
					</div>
				<?php echo $this->form()->closeTag();?>
			</div>
		</div>
	</div>
</div>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
require(['domReady!'], function(){
  require(['app/account/register-form'], function(form){
      form.setName('account_register');
      form.init({
        id: 'user_form'
      });
      form.setTermsPage(<?php echo json_encode($this->termsPage);?>);
  });
});
</script>