<?php 
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */

$this->headTitle('Password Reset');
?>
<?php if(!$status):?>
<div class="loginColumns animated fadeInDown">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-6">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 text-center">
						<?php if(isset($error)&& $error != ''):?>
						<div class="alert alert-danger">
							<?php echo $error;?>
						</div>
						<?php endif;?>
						<?php if(isset($message)&& $message != ''):?>
						<div class="alert alert-success">
							<?php echo $message;?>
						</div>
						<?php endif;?>
						<h3>Reset Password</h3>
						<p>Enter your new password in both fields below.</p>
					</div>
				</div>
				<form class="" role="form" action="" method="post" id="reset-password-form">
					<div class="hr-line-dashed m-t-sm"></div>
					
					<div class="row">
						
						<div class="col-lg-12">
							<div class="form-group">
								<label>Email address</label>
								<p class="form-control-static"><?php echo $email;?></p>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label>New Password</label>
								<input type="password" class="form-control" placeholder="Enter new Password" required="required" name="password" autocomplete="false" id="password">
							</div>
							<div class="form-group">
								<label>Confirm Password</label>
								<input type="password" class="form-control" placeholder="Confirm Password" required="required" name="password_confirm" autocomplete="false"  id="password_confirm">
							</div>
							
						</div>
						<div class="col-lg-12 text-center">
							<button type="submit" class="btn btn-primary block full-width">Reset my Password</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<?php else: ?>
<div class="loginColumns animated fadeInDown">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="splash-brand">
							<img alt="image" class="m-b-xs" src="<?php echo $this->basePath('img/demo_logo.png');?>">
						</div>
						<?php if(isset($error)&& $error != ''):?>
						<div class="alert alert-danger">
							<?php echo $error;?>
						</div>
						<?php endif;?>
						<?php if(isset($message)&& $message != ''):?>
						<div class="alert alert-success">
							<?php echo $message;?>
						</div>
						<?php endif;?>
						
					</div>
				</div>
				<div class="hr-line-dashed m-t-sm"></div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href="<?php echo $this->url('login');?>" class="btn btn-primary block full-width">Back To Login Screen</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php endif ?>
<script>
require(['domReady!'], function(){
    require(['app/account/reset-password-form'], function($form){
      $form.validate('#reset-password-form');
    });
});
</script>