<div class="loginColumns animated fadeInDown">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="splash-brand">
							<img alt="image" class="m-b-xs" src="<?php echo $this->basePath('img/demo_logo.png');?>">
							<div class="hr-line-dashed m-t-sm"></div>
						</div>
						<h2 class="text-danger"><?php echo $this->message ?></h2>
						<p>You do not have sufficient privilege to perform this action.</p>
					</div>
				</div>
				<div class="hr-line-dashed m-t-sm"></div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href="javascript:void(0)" onclick="javascript:window.history.back(0);" class="btn btn-primary block full-width">Go Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>