<?php $this->layout('layout/error-layout'); ?>
<div class="loginColumns animated fadeInDown">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="splash-brand">
							<img alt="image" class="m-b-xs" src="<?php echo $this->basePath('img/demo_logo.png');?>">
							<div class="hr-line-dashed m-t-sm"></div>
						</div>
						<h1>A 404 error occurred</h1>
						<h2 class="text-danger"><?php echo $this->message ?></h2>
					</div>
				</div>
				<div class="hr-line-dashed m-t-sm"></div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href="<?php echo $this->url('login');?>" class="btn btn-primary block full-width">Back to Homepage</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>