<div class="loginColumns animated fadeInDown">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="splash-brand">
							<img alt="image" class="m-b-xs" src="<?php echo $this->basePath('img/demo_logo.png');?>">
							<div class="hr-line-dashed m-t-sm"></div>
						</div>
                        <h1>500 Internal Server Error</h1>
						<p class="text-danger">The server encountered an internal server error and unable to complete your request.</p>
					</div>
				</div>
				<div class="hr-line-dashed m-t-sm"></div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href="javascript:void(0)" onclick="javascript:window.history.back(0);" class="btn btn-primary block full-width">Go Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>