<?php 
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */
echo $this->doctype(); ?>
<html lang="en">
	<head><?php echo $this->partial('components/head.phtml');?>
    </head>
	<body class="body-landing">
        <?php echo $this->partial('components/header_homepage.phtml');?>
    	<div class="container">
            <?php echo $this->content; ?>
    	</div>
        <?php echo $this->partial('components/footer.phtml');?>
    </body>
</html>
