<?php
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */
$controller = $this->get('controller');
$authUser = $this->get('authUser');

echo $this->doctype();
?>
<html lang="en">
<head><?php echo $this->partial('components/head.phtml');?></head>
<body class="fixed-nav">
    <div id="wrapper">
        <?php echo $this->partial('components/navbar.phtml');?>
    	<div id="page-wrapper" class="gray-bg">
            <?php echo $this->partial('components/header_default.phtml');?>
            <?php echo $this->content; ?>
        </div>
    </div>
    <script type="text/javascript">
        var authUser = {
            'username': '<?php echo $authUser['username'];?>',
            'emailStatus': '<?php echo $authUser['emailStatus'];?>'
        }
        
        require(['app/account/notification'], function(notification){
          notification.showEmailStatusAlert(authUser);
        });
    </script>
</body>
</html>
