<div class="ad-top-menu">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#aero-collapse-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<?php echo $this->url('home');?>"><img src="../img/demo_logo.png" /></a>
      </div>

      <div class="collapse navbar-collapse" id="aero-collapse-menu" style="padding: 0px; width: 100%;">
      </div>
    </div>
  </nav>
</div>
