<?php 
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */
?>
<div class="row border-bottom">
	<nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
				<i class="fa fa-bars"></i>
			</a>
			<a href="<?php echo $this->url('dashboard');?>" class="navbar-brand">
				<img alt="image" src="<?php echo $this->basePath('img/demo_logo.png');?>">
			</a>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
					<?php echo $authUser['firstName'] . '  ' . $authUser['lastName'];?> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu animated pull-right m-t-xs">
					<li>
						<a href="#">Edit My Profile</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="<?php echo $this->url('logout');?>">Logout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>