<?php
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */
$templateConfig = $this->get('template_config');

echo $this->headTitle($templateConfig['default_app_title'])
    ->setSeparator(' - ')
    ->setAutoEscape(false);

echo $this->headMeta()
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');

echo $this->headLink(array(
    'rel' => 'shortcut icon',
    'type' => 'image/vnd.microsoft.icon',
    'href' => $this->basePath() . '/img/favicon.ico'
))
    ->appendStylesheet($this->basePath('css/bootstrap.min.css'))
    ->appendStylesheet($this->basePath('css/font-awesome.min.css'))
//     ->appendStylesheet($this->basePath('css/animate.css'))
    ->appendStylesheet($this->basePath('css/style.css'));

echo $this->headStyle();

?>
<script>
var require = {
    urlArgs: '<?php echo $templateConfig['js_url_args'];?>'
};
</script>
<script src="<?php echo $this->basePath('js/vendor/pace.min.js');?>"></script>
<script data-main="<?php echo $this->basePath('js/main.js');?>" src="<?php echo $this->basePath('js/require.js');?>"></script>