<?php
use Application\Controller;

/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */
?>
<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear"> <span class="block m-t-xs"><strong class="font-bold"><?php echo $authUser['firstName'] . '  ' . $authUser['lastName'];?></strong></span> <span class="text-muted text-xs block"><small><?php echo $authUser['companyName'];?></small> <b class="caret"></b></span>
						</span>
					</a>
					<ul class="dropdown-menu animated m-t-xs">
						<li>
							<a href="#">Edit My Profile</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="<?php echo $this->url('logout')?>">Logout</a>
						</li>
					</ul>
				</div>
			</li>
            <?php if($authUser['role'] != 'DSR'):?>
            <li class="<?php echo ($controller == Controller\UserController::class) ? 'active' : '';?>" data-toggle="tooltip" data-placement="right" title="Users">
                <a href="<?php echo $this->url('users');?>">
                    <i class="fa fa-users"></i> <span class="nav-label">Users</span>
                </a>
            </li>
            <?php endif;?>
		</ul>
	</div>
</nav>