<?php echo $this->doctype(); ?>
<html lang="en">
	<head>
        <?php 
        echo $this->headTitle('Diversey Care')->setSeparator(' - ')->setAutoEscape(false);

        echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');

        echo $this->headLink(array(
            'rel' => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath() . '/img/favicon.ico'
        ))
            ->appendStylesheet($this->basePath('css/bootstrap.min.css'))
            ->appendStylesheet($this->basePath('css/font-awesome.min.css'))
            ->appendStylesheet($this->basePath('css/animate.css'))
            ->appendStylesheet($this->basePath('css/style.css'));
        
        echo $this->headStyle();
        ?>
    </head>
	<body>
	<div class="container">
        <?php echo $this->content; ?>
	</div>
    </body>
</html>
