<?php
/**
 * @var $this Zend\View\Renderer\PhpRenderer
*/
$this->layout()->setTemplate('layout/left-sidebar-layout.phtml');
$this->headTitle('Create User');

$this->headLink()->appendStylesheet('/css/plugins/datatables.min.css');
?>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-xs-8 col-sm-9">
		<h2>Create User</h2>
		<ol class="breadcrumb">
			<li><a href="<?php echo $this->url('dashboard');?>">Home</a></li>
			<li><a href="<?php echo $this->url('users');?>">Users</a></li>
			<li class="active"><strong>Create User</strong></li>
		</ol>
	</div>
	<div class="col-xs-4 col-sm-3">
		<div class="row">
			<div class="text-right col-xs-12"></div>
		</div>
	</div>
</div>
<?php 
$this->form->setAttributes(['novalidate' => 'novalidate']);
echo $this->form()->openTag($this->form);
?>
<?php
$element = $form->get('csrf');
echo $this->formElement($element);

echo $this->partial('_form_fields.phtml');
?>

<div class="footer fixed">
    <div class="pull-right">
        <div class="btn-group m-t m-b">
            <a class="btn btn-white btn-w-m" href="<?php echo $this->url('users');?>">Cancel</a>
            <button class="btn btn-primary btn-w-m" type="submit">Save</button>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag();?>
<script>
var stateList = <?php echo \Application\Repository\LocationRepository::getStateList('json');?>;
</script>
<script>
require(['domReady!'], function(){
    require(['app/user/user-form','app/admin/diversey-master'], function(form, diverseyMaster){
      form.setName('admin_user_create');
      form.init({
        id: 'user_form'
      });

      diverseyMaster.init({
        formId: 'user_form'
      });
    });
});
</script>