<?php
/**
 * @var $this Zend\View\Renderer\PhpRenderer
*/
$this->layout()->setTemplate('layout/left-sidebar-layout.phtml');
?>
<?php echo $this->headTitle()->append('Help / FAQ');?>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-xs-12">
    <h2>Frequently Asked Questions</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<?php echo $this->url('dashboard');?>">Home</a>
      </li>
      <li class="active">
        <strong>FAQ</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated">
  <div class="alert alert-info">
    <p>
      For questions about the system and a rebate that have been submitted, please call <strong>866-208-1729</strong>.
    </p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="faq-item">
        <div class="row">
          <div class="col-sm-12">
            <a data-toggle="collapse" href="#faq1" class="faq-question"> How do I update my account information (address, phone number, email address, password, etc.</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div id="faq1" class="panel-collapse collapse ">
              <div class="faq-answer">
                <p> Please visit <?php echo $_SERVER['HTTP_HOST'];?> to update your account information. Simply click on the arrow next to your name, a drop down box will allow you to edit your profile.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-item">
        <div class="row">
          <div class="col-sm-12">
            <a data-toggle="collapse" href="#faq2" class="faq-question">I lost my password, how do I reset it?</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div id="faq2" class="panel-collapse collapse ">
              <div class="faq-answer">
                <p>Please visit <?php echo $_SERVER['HTTP_HOST'];?> and click the forgot password link and provide the registered email address, so that you will receive a temporary link to reset the password on your mail.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-item">
        <div class="row">
          <div class="col-sm-12">
            <a data-toggle="collapse" href="#faq3" class="faq-question"> How long does it take to receive a rebate payment?</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div id="faq3" class="panel-collapse collapse ">
              <div class="faq-answer">
                <p>Typically, you will receive your rebate check within 7 to 14 business days. Please log on to <?php echo $_SERVER['HTTP_HOST'];?> to check the status of your rebate. You will be able to view all rebate activity in Claim History.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-item">
        <div class="row">
          <div class="col-sm-12">
            <a data-toggle="collapse" href="#faq4" class="faq-question"> The site says my rebate has been paid but I still haven't received payment. What should I do?</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div id="faq4" class="panel-collapse collapse ">
              <div class="faq-answer">
                <p>Please allow 7 to 14 business days after the date of the check. If it is beyond 14 days, please call 866-208-1729 or email diverseyrebates@aerofulfillment.com and a Sealed Air
                  Rebate Specialist will be happy to research for you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-item">
        <div class="row">
          <div class="col-sm-12">
            <a data-toggle="collapse" href="#faq5" class="faq-question"> Why was my rebate rejected?</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div id="faq5" class="panel-collapse collapse ">
              <div class="faq-answer">
                <p>The most common reasons rebates are rejected is due to invalid proof of purchase, no proof of purchase attached, a duplicate submission, or the rebate is subject to the NY/NJ Metro
                  area. Please review your claim history for the reason your rebate was rejected. If you have any additional questions, please call 866-208-1729 or email
                  diverseyrebates@aerofulfillment.com and a Sealed Air Rebate Specialist will be happy to assist you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-item">
        <div class="row">
          <div class="col-sm-12">
            <a data-toggle="collapse" href="#faq6" class="faq-question"> Why is the rebate check I received different from the amount that I requested?</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div id="faq6" class="panel-collapse collapse ">
              <div class="faq-answer">
                <p>A detailed explanation can be found under Claim History. A rebate is often issued for more or less than what was submitted due to information provided on the Velocity Report or
                  Invoice that has been submitted with the claim. Rebates may also differ in amounts due to the terms and conditions for the NY/NJ Metro area.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-item">
        <div class="row">
          <div class="col-sm-12">
            <a data-toggle="collapse" href="#faq7" class="faq-question"> How do I contact you?</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div id="faq7" class="panel-collapse collapse ">
              <div class="faq-answer">
                <p>If you have any questions, please call 866-208-1729 or email diverseyrebates@aerofulfillment.com and a Sealed Air Rebate Specialist will be happy to assist you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-item">
        <div class="row">
          <div class="col-sm-12">
            <a data-toggle="collapse" href="#faq8" class="faq-question"> I lost my rebate check. What should I do?</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div id="faq8" class="panel-collapse collapse ">
              <div class="faq-answer">
                <p>Please contact the Sealed Air Rebate Center at 888-208-1729 and a rebate specialist will be happy to assist you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
