<?php
/**
 * @var $this Zend\View\Renderer\PhpRenderer
*/
$this->layout()->setTemplate('layout/left-sidebar-layout.phtml');
$authUser = $this->layout()->authUser;
?>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-8 col-sm-9">
        <h2>Edit Profile</h2>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('dashboard');?>">Home</a></li>
            <li class="active"><strong>Edit Profile</strong></li>
        </ol>
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="row">
            <div class="text-right col-xs-12"></div>
        </div>
    </div>
</div>
<?php 
$this->form->setAttributes(['novalidate' => 'novalidate']);
echo $this->form()->openTag($this->form);
?>
<?php
$element = $form->get('csrf');
echo $this->formElement($element);
?>
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Information</h5>
                    <div class="ibox-tools"></div>
                </div>
                <div class="ibox-content">
                    <?php echo $this->partial('partial/flash_messages.phtml');?>
                    <h2 class="m-b">Account Information</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Username/Email address <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('username');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <?php if($authUser['role'] == 'DSR'):?>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Diversey ID</label>
                                <p class="form-control"><?php echo $user->getDiverseyId();?></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>DSR Type</label>
                                <p class="form-control"><?php echo !empty($user->getDsrType()) ? $dsrTypes[$user->getDsrType()] : '';?></p>
                            </div>
                        </div>
                    </div>
                    <?php endif;?>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('password');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Confirm Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" name="confirmPassword" placeholder="Enter your password again"/>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed m-t-sm"></div>
                    <h2 class="m-b">Contact Information</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>First Name <span class="text-danger">*</span></label>
                                 <?php
                                    $element = $form->get('firstName');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Last Name <span class="text-danger">*</span></label>
                                 <?php
                                    $element = $form->get('lastName');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('phoneNumber');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Preferred Contact Type<span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('contactType');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 1 <span class="text-danger">*</span></label>
                                    <?php
                                    $element = $form->get('addressLine1');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <?php
                                    $element = $form->get('addressLine2');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Country <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('country');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label id="label_state"><span>State</span> <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('state');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('city');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Postal Code <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('zipCode');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Manager<span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('salesExecutive');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed m-t-sm"></div>
                    <h2 class="m-b">Business Information</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Distributor Name <span class="text-danger">*</span></label>
                                    <?php
                                    $element = $form->get('companyName');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('distPhoneNumber');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 1 <span class="text-danger">*</span></label>
                                    <?php
                                    $element = $form->get('distAddressLine1');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <?php
                                    $element = $form->get('distAddressLine2');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Country <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('distCountry');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label id="label_dist_state"><span>State</span> <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('distState');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('distCity');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Postal Code <span class="text-danger">*</span></label>
                                <?php
                                    $element = $form->get('distZipCode');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed m-t-sm"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group checkbox">
                                <label>
                                <?php
                                    $element = $form->get('mailingList');
                                    echo $this->formElement($element);
                                    echo $this->formElementErrors($element);
                                ?> Sign up for Diversey Hang Allowance production information.
                                </label>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer fixed">
    <div class="pull-right">
        <div class="btn-group m-t m-b">
            <a href="<?php echo $this->url('dashboard');?>" class="btn btn-white btn-w-m">Cancel</a>
            <button class="btn btn-primary btn-w-m" type="submit">Save</button>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag();?>
<script>
require(['domReady!'], function(){
    require(['app/account/register-form'], function(form){
      form.setName('account_profile');
      form.init({
        id: 'user_form'
      });
    });
});
</script>