<?php 
/**
 * @var $this Zend\View\Renderer\PhpRenderer
 */
?>
<div class="loginColumns animated fadeInDown">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="splash-brand">
							<img alt="image" class="m-b-xs" src="img/demo_logo.png">
						</div>
                        <div class="alert alert-success">
							<p>Thank you for registration, New account is subject to approval and once approved you will be notified via email.</p>
							<p>Please contact the diversey team if you haven't received an email in 3 business days.</p>
						</div>
						<h3>Thank You!</h3>
					</div>
				</div>
				<form class="" role="form" action="">
					<div class="hr-line-dashed m-t-sm"></div>
					<div class="row">
						<div class="col-lg-12 text-center">
							<a href="<?php echo $this->url('login');?>" class="btn btn-primary block full-width">Back To Login Screen</a>
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
